<div class="container container-sign sign-font">
    <div class="logo-sign-content"><img
            src="https://res.cloudinary.com/cocktailerie/image/upload/v1600652945/cocktails/logo_boceto_btq1gi.png"
            class="logo-style"></div>
    <div class="d-flex justify-content-center h-100">
        <div class="card-sign position-logo">
            <div class="card-header-sign">
                <h3>Sign Up</h3>

            </div>
            <div class="card-body">
                <form action="/signup" method="POST">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user icon-custom"></i></span>
                        </div>
                        <input name="username" type="text" class="form-control" placeholder="username">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key icon-custom"></i></span>
                        </div>
                        <input name="password" type="password" class="form-control" placeholder="password">

                    </div>
                    <div class="row align-items-center remember">
                        {{#if errorMsg}}
                        <div id="errorMsg">{{{errorMsg}}}</div>
                        {{/if}}
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Do you have an account?<a href="/login">Sign in</a>
                </div>
                <div class="d-flex justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>