<div class="container">
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-sm-12 col-lg-8 col-md-8">
      <div><img src="https://res.cloudinary.com/cocktailerie/image/upload/v1600652945/cocktails/logo_boceto_btq1gi.png"
          class="index-logo">
      </div>

      <div class="col-sm-12 col-lg-8 col-md-8 button-index">
        <a class="index-button" href="/signup">Let's party!</a>
      </div>


    </div>
  </div>
</div>
</div>



<!--

    nav {
  margin-top: 0;
  background-color: black; }

      <img src="https://res.cloudinary.com/cocktailerie/image/upload/v1600652945/cocktails/logo_boceto_btq1gi.png" class="index-logo">


.navbar-custom {
  background-color: #0000; }

.navbar-custom .dropdown-menu {
  color: #0000; }


        <h1 class="text-center">Bienvenue à le Cocktelerie</h1>
        <h4 class="text-center">Here you can find lots of cocktails... and so much fun!</h4> 
           <div class="col-sm-12 col-md-4">
              <a class="btn btn-danger d-flex justify-content-center align-items-center" href="/login">Let´s party!</a>
        
        -->