<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,500;0,700;1,300&display=swap" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.0.7/css/sb-admin-2.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body class="background">
  <!-- NAVBAR -->
  <header class="menu">
    <nav class="navbar navbar-expand-lg navbar-dark static-top navbar-custom" style="background-color:black;">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            src="https://res.cloudinary.com/cocktailerie/image/upload/v1600977751/cocktails/logo_boceto_btq1gi_comwnp.png"
            width="150px" height="42px" alt="" class="align-middle">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/cocktails">Cocktails</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ingredients">Ingredients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cocktails/advanced-search">Advanced Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cocktails/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/random">Surprise me!</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Login</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/logout">Logout</a>
                <a class="dropdown-item" href="/signup">Signup</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Signup</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- END OF NAVBAR -->

  <!-- Carousel -->

  <!-- END OF CAROUSEL -->

  {{{body}}}


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="/javascripts/APIHandler.js"></script>
  <script src="/javascripts/index.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>