<section style="background-color: white; padding-bottom: 50px;">

  <div class="container">
    <div class="cocktail-container">
      <div class="cocktail-info">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-8">

            <div class="name">Name</div>
            <div class="category">Category</div>
            <div class="ingredients">Ingredients</div>
            <div class="instructions">Instrucciones</div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">

            <div class="image-random"><img src="" alt="imagen"></div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>